@font-face {
    font-family: 'Samarkan Normal';
    font-style: normal;
    font-weight: normal;
    src: local('Samarkan Normal'), url('../assets/fonts/SAMARN__.woff') format('woff');
}

.info {
    width: 70%;
    padding-top: 12vw;
}

@media (max-width:991px) {
    .info {
        padding-bottom: 25vw;
    }
}

.book-now-box .book-now {
    color: red;
    text-decoration: none;
    font-size: 11px;
}

.book-now-box {
    border-bottom: 1px solid rgb(255, 0, 0);
    border-top: 1px solid rgb(255, 0, 0);
    text-align: center;
    width: 85px;
    margin-top: 25px;
    margin-left: 20px;
    padding: 6px;
}

.prarambh {
    background-image: url("../assets/images/index/prarambh_background.png");
    height: 600px;
    width: 660px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

@media (max-width:767px) {
    .prarambh {
        height: 454.54px;
        width: 500px;
    }
}

@media (max-width:575px) {
    .prarambh {
        height: 86.36vw;
        width: 95vw;
    }
}

.prarambh .container {
    width: 25.7%;
    height: 28%;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    padding: 0 0;
}

.prarambh .container .wrapper {
    width: 100%;
    display: flex;
    animation: slideshow7 12s infinite;
}

/* 7 images */
@keyframes slideshow7 {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(0);
    }

    14.28% {
        transform: translateX(-100%);
    }

    24.28% {
        transform: translateX(-100%);
    }

    28.57% {
        transform: translateX(-200%);
    }

    38.57% {
        transform: translateX(-200%);
    }

    42.85% {
        transform: translateX(-300%);
    }

    52.85% {
        transform: translateX(-300%);
    }

    57.14% {
        transform: translateX(-400%);
    }

    67.14% {
        transform: translateX(-400%);
    }

    71.42% {
        transform: translateX(-500%);
    }

    81.42% {
        transform: translateX(-500%);
    }

    85.71% {
        transform: translateX(-600%);
    }

    95.71% {
        transform: translateX(-600%);
    }

    95.71% {
        transform: translateX(-600%);
    }

    100% {
        transform: translateX(-600%);
    }
}


/* 5 images */
@keyframes slideshow5 {
    0% {
        transform: translateX(0);
    }

    12% {
        transform: translateX(0);
    }

    17% {
        transform: translateX(-100%);
    }

    37% {
        transform: translateX(-100%);
    }

    42% {
        transform: translateX(-200%);
    }

    62% {
        transform: translateX(-200%);
    }

    67% {
        transform: translateX(-300%);
    }

    87% {
        transform: translateX(-300%);
    }

    92% {
        transform: translateX(-400%);
    }

    100% {
        transform: translateX(-400%);
    }
}


.round-img {
    width: 100%;
    height: 100%;
}

.prarambh-word {
    font-family: 'Samarkan Normal';
    font-size: 70px;
    position: absolute;
    top: 42%;
    left: 27%;
    cursor: pointer;
    color: white;
}

@media (max-width:767px) {
    .prarambh-word {
        font-size: 52px;
    }
}

@media (max-width:575px) {
    .prarambh-word {
        font-size: 9vw;
    }
}

.round-img-hover {
    position: absolute;
    padding: 4%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 90px;
    height: 15%;
    width: 14%;
    text-decoration: none;
    overflow: hidden;
    transition: all 0.5s;
}

.round-img-hover:hover {
    background-color: rgba(0, 0, 0, 0.7);
    width: 250px;
}

@media (max-width:767px) {
    .round-img-hover:hover {
        width: 200px;
    }
}

@media (max-width:575px) {
    .round-img-hover:hover {
        width: 36vw;
    }
}

.round-img-box {
    height: 40px;
    width: 40px;
    transform: rotate(45deg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s;
    position: absolute;
    top: 28%;
    left: 26px;
}

.round-img-hover:hover .round-img-box {
    height: 53px;
    width: 53px;
    top: 21%;
    left: 18px;
}

@media (max-width:767px) {
    .round-img-box {
        height: 30px;
        width: 30px;
        left: 20px;
    }

    .round-img-hover:hover .round-img-box {
        height: 39px;
        width: 39px;
        top: 21%;
        left: 14px;
    }
}

@media (max-width:575px) {
    .round-img-box {
        height: 6vw;
        width: 6vw;
        left: 3.7vw;
    }

    .round-img-hover:hover .round-img-box {
        height: 58%;
        width: 7.5vw;
        top: 21%;
        left: 2.8vw;
    }
}

.round-img-sub-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20%;
}

.sub-box-1 {
    height: 100%;
    width: 20%;
    border-top: 2px solid white;
    border-left: 2px solid white;
}

.sub-box-2 {
    height: 100%;
    width: 20%;
    border-top: 2px solid white;
    border-right: 2px solid white;
}

.sub-box-3 {
    height: 100%;
    width: 20%;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
}

.sub-box-4 {
    height: 100%;
    width: 20%;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

.round-img-red-box {
    background-color: rgba(255, 0, 0, 0.5);
    position: absolute;
    top: 25%;
    left: 25%;
    height: 50%;
    width: 50%;
    transition: all 0.5s;
}

.round-img-hover:hover .round-img-red-box {
    top: 35%;
    left: 35%;
    height: 30%;
    width: 30%;
    background-color: rgba(255, 0, 0, 0.9);
}

@media (max-width:767px) {
    .round-img-hover:hover .round-img-red-box {
        top: 35%;
        left: 35%;
        height: 30%;
        width: 30%;
        background-color: rgba(255, 0, 0, 0.9);
    }
}

@media (max-width:575px) {
    .round-img-hover:hover .round-img-red-box {
        top: 35%;
        left: 35%;
        height: 30%;
        width: 30%;
        background-color: rgba(255, 0, 0, 0.9);
    }
}

.round-img-info {
    left: 80px;
    position: relative;
}

.round-img-info h6 {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.3);
    transition: all 0.5s;
}

.round-img-hover:hover .round-img-info h6 {
    color: rgba(255, 255, 255, 0.9);
}

@media (max-width:767px) {
    .round-img-hover:hover .round-img-info h6 {
        color: rgba(255, 255, 255, 0.9);
        font-size: 8px;
    }

    .round-img-info {
        left: 11vw;
    }
}

@media (max-width:575px) {
    .round-img-hover:hover .round-img-info h6 {
        color: rgba(255, 255, 255, 0.9);
        font-size: 1.4vw;
    }

    .round-img-info {
        left: 12vw;
    }
}

.round-img-info p {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.3);
    transition: all 0.5s;
}

.round-img-hover:hover .round-img-info p {
    color: rgba(255, 255, 255, 1);
}

@media (max-width:767px) {
    .round-img-hover:hover .round-img-info p {
        color: rgba(255, 255, 255, 1);
        font-size: 12px;
    }
}

@media (max-width:575px) {
    .round-img-hover:hover .round-img-info p {
        color: rgba(255, 255, 255, 1);
        font-size: 2.3vw;
    }
}

#countdown {
    position: fixed;
    bottom: 0;
    font-size: 30px;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.5);
    left: 0;
    text-align: center;
    width: 100vw;
    height: 5vh;
}

@media (max-width:991px) {
    #countdown {
        position: relative;
        bottom: 0;
        top: -40px;
        margin-bottom: -40px;
        font-size: 30px;
        font-weight: 900;
        color: rgba(255, 255, 255, 0.5);
        left: 0;
        text-align: center;
        width: 100vw;
        height: 5vh;
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links {
    display: flex;
}

.social-btn {
    right: 0;
    cursor: pointer;
    height: 50px;
    width: 30px;
    font-family: helvetica;
    font-size: 20px;
    color: rgb(255, 255, 255);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    background: black;
    transition: 1s;
    transition-timing-function: ease-in-out;
}

.social-btn span {
    /* width: 0px; */
    color: transparent;
    font-size: 15px;
    padding-left: 10px;
    overflow: hidden;
    transition: 1s;
    text-align: center;
}

.social-btn:hover {
    width: 150px;
    border-radius: 5px;
}

.social-btn:hover span {
    color: #fff;
    padding: 2px;
    width: max-content;
}

i {
    color: #ff0000;
}

.overlay1 {
    position: absolute;
    padding: auto;
    width: 100%;
    top: 0px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.3s;
}

.overlay1:hover {
    padding: auto;
    position: absolute;
    width: 100%;
    top: 0px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.overlay1 p {
    height: 100%;
    width: 100%;
    padding-top: 80%;
    color: rgba(0, 0, 0, 0);
    font-weight: 800;
    font-size: 15px;
    text-align: center;
    backdrop-filter: blur(0px);
    position: relative;
    transition: all 0.3s;
}

.overlay1 p:hover {
    height: 100%;
    width: 100%;
    padding-top: 40%;
    color: rgb(255, 0, 0);
    font-weight: 800;
    font-size: 25px;
    backdrop-filter: blur(3px);
    text-align: center;
    position: relative;
}

.overlay_new {
    opacity: 0;
}

.overlay_new:hover {
    opacity: 0.7;
}