/* index.html CSS */

@import "bootstrap/css/bootstrap.min.css";

* {
    box-sizing: border-box;
}

body {
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.Xsymbol {
    position: absolute;
    top: 20%;
    left: 22%;
    height: 500px;
    width: 460px;
    z-index: -1;
}

@media (max-width:991px) {
    .Xsymbol {
        right: 10%;
    }
}

@media (max-width:575px) {
    .Xsymbol {
        top: 21vw;
        right: 0vw;
        height: 84.5vw;
        width: 75vw;
    }
}

.navbar-dark .navbar-nav .nav-link {
    padding-left: 50px;
    height: 50%;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s;
    padding-top: 0px;
    padding-bottom: 0px;
}

.nav-item {
    overflow: hidden;
    height: 50%;
}

.nav-animation {
    display: none;
    color: red;
}

@media (min-width:992px) {
    .nav-animation {
        display: block;
    }
}
@media (max-width:991px) {
    .nav-item {
        padding: 1.5rem;
    }
}

.navbar-dark .navbar-nav .nav-link:hover {
    transform: translateY(-15px);
}

.custom-btn {
    padding: 10px 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    border-radius: 10rem;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    color: white;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 11px;
}

.custom-btn:hover {
    color: red;
}

/**** BTN No. 5 ****/

.btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    border-radius: 10rem;
}

.btn-5 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-5:before, .btn-5:after {
    position: absolute;
    content: "";
    right: 0;
    border-radius: 10rem;
    bottom: 0;
    background: rgb(255, 0, 0);
    transition: all 0.3s ease;
}

.btn-5:before {
    height: 50%;
    width: 2px;
}

.btn-5:after {
    width: 20%;
    height: 2px;
}

.btn-5:hover:before {
    height: 100%;
}

.btn-5:hover:after {
    width: 100%;
}

.btn-5 span:before, .btn-5 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgb(255, 0, 0);
    transition: all 0.3s ease;
    border-radius: 10rem;
}

.btn-5 span:before {
    width: 2px;
    height: 50%;
}

.btn-5 span:after {
    width: 20%;
    height: 2px;
}

.btn-5 span:hover:before {
    height: 100%;
}

.btn-5 span:hover:after {
    width: 100%;
}

.social-media-side-dock1 {
    font-size: 1.3rem;
    position: fixed;
    top: 36%;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1.9;
}

.social-media-side-dock2 {
    font-size: 1.3rem;
    position: fixed;
    top: 43%;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1.9;
}

.social-media-side-dock3 {
    font-size: 1.3rem;
    position: fixed;
    top: 50%;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1.9;
}

.social-media-side-dock4 {
    font-size: 1.3rem;
    position: fixed;
    top: 57%;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1.9;
}

.back-botton {
    position: relative;
    display: flex;
    flex-direction: row;
    width: auto;
    left: 2rem;
    top: 1rem;
    text-decoration: none;
    height: 2rem;
}

@media (max-width: 991px) {
    .back-botton {
        display: none;
    }
}

.back-botton .back-symbol {
    color: white;
    font-size: 1rem;
    height: 1.55rem;
    width: 1.55rem;
    text-align: center;
    border-radius: 50%;
    border: 1px solid red;
}

.back-botton .back-word {
    color: rgba(255, 0, 0, 0);
    font-size: 0.6rem;
    padding: 6px;
    transition: all 1s;
}

.back-botton:hover .back-word {
    color: rgb(255, 0, 0);
}

.bottom-shadow {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 5vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0, 1));
}

.row {
    justify-content: space-between;
    margin: 0px;
}

@media (max-width: 767px) {
    .for_res {
        display: none;
    }
    .for_res2 {
        display: block;
    }
}

@media (min-width: 768px) {
    .for_res2 {
        display: none;
    }
    .for_res {
        display: block;
    }
}