/* index.html CSS */
@import "bootstrap/css/bootstrap.min.css";

@font-face {
    font-family: 'Samarkan Normal';
    font-style: normal;
    font-weight: normal;
    src: local('Samarkan Normal'), url('../assets/fonts/SAMARN__.woff') format('woff');
}

* {
	box-sizing: border-box;
}

body {
	color: white;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.info {
    width: 70%;
    padding-top: 10rem;
}

.book-now-box .book-now {
    color: red;
    text-decoration: none;
    font-size: 0.6875em;
}

.book-now-box {
    border-bottom: 0.0625em solid rgb(255, 0, 0);
    border-top: 0.0625em solid rgb(255, 0, 0);
    text-align: center;
    width: 85px;
    margin-top: 1.5625em;
    margin-left: 1.25em;
    padding: 0.375em;
}

.Xsymbol {
    position: absolute;
    top: 10%;
    left: 12%;
    height: 25em;
    width: 22.5em;
    z-index: -1;
}

.navbar-dark .navbar-nav .nav-link {
    padding-left: 3.125em;
    height: 50%;
    font-size: 0.625em;
    color: rgba(134, 92, 92, 0.5);
    transition: all 0.3s;
    padding-top: 0em;
    padding-bottom: 0em;
}

.nav-item {
    overflow: hidden;
    height: 50%;
}

.nav-animation {
    display: none;
    color: red;
}

@media (min-width:62em) {
    .nav-animation {
        display: block;
    }    
}

@media (max-width:61.9375em) {
    .nav-item {
        padding: 1.5rem;
    }
}

.navbar-dark .navbar-nav .nav-link:hover {
    transform: translateY(-0.9375em);
}

.prarambh {
    background-image: url("../assets/images/Index/Prarambh_background.png");
    height: 37.5em;
    width: 41.25em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 37.5em 37.5em;
    position: relative;
}

.prarambh .container{
    width: 10.625em;
    height: 10.625em;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    padding: 0 0;
}
.prarambh .container .wrapper{
    width: 100%;
    display: flex;
    animation: slideshow 12s infinite;
}
@keyframes slideshow{
    0%{
        transform: translateX(0);
    }
    12%{
        transform: translateX(0);
    }
    17%{
        transform: translateX(-10.625em);
    }
    37%{
        transform: translateX(-10.625em);
    }
    42%{
        transform: translateX(-21.25px);
    }
    62%{
        transform: translateX(-21.25em);
    }
    67%{
        transform: translateX(-31.875em);
    }
    87%{
        transform: translateX(-31-31.875em);
    }
    92%{
        transform: translateX(-42.5em);
    }
    100%{
        transform: translateX(-42.5em);
    }
}

.round-img {
    width: -10.625em;
    height: -10.625em;
}

.speaker-img-wrapper {
    width: 7.5em;
    height: 7.5em;
    border-radius: 50%;
    border: 0.09375em solid white;
    overflow: hidden;
}

.speaker-img {
    width: 7.5em;
    height: 7.5em;
}

.speaker-name {
    font-size: 0.75em;
    margin-top: 0.625em;
    padding-bottom: 0.625em;
}

.speaker-container {
    text-align: center;
    width: 0.75em;
    padding: 0 0;
}

.speaker-card-img {
    border-radius: 0.625em;
    box-shadow: 0 0 0.625em red;
    width: 12.5em;
    height: 12.5em;
    overflow: hidden;
}

.speaker-card-img img{
    width: 12.5em;
    height: 12.5em;
}

.speaker-card-title{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.speaker-card-name {
    margin-left: 2.5em;
    color: red;
    font-size: 2.5em;
}

.speaker-card-info{
    font-size: 0.75em;
    margin-top: 2.5em;
}

.speaker-card {
    display: none;
}

.speaker-card-active {
    padding: 2.5em;
    display: block;
    height: 34rem;
    border: 0.0625em solid red;
    border-radius: 2rem;
    background-color: black;
}

.previous-event-img {
    width: fit-content;
}

.previous-event-img img {
    width: 400px;
}

.previous-event-info {
    width: fit-content;
}

.event-button {
    text-align: right;
}

.event-button a {
    text-decoration: none;
    color: red;
    border: 0.625em solid red;
    padding: 0.3125em;
}

.previous-event-card {
    justify-content: space-between;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.custom-btn {
    padding: 0.625em 1.5625em;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    color: red;
    margin-top: 1.875em;
    margin-left: 1.875em;
    font-size: 0.6875em;
  }

.custom-btn:hover {
    color: white;
}

  /**** BTN No. 5 ****/
.btn-5 {
    width: 8.125em;
    height: 2.5em;
    line-height: 2.625em;
    padding: 0;
    border: none;
  }
  .btn-5 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-5:before,
  .btn-5:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: rgb(255, 0, 0);
    transition: all 0.3s ease;
  }
  .btn-5:before {
    height: 50%;
    width: 0.125em;
  }
  .btn-5:after {
    width: 20%;
    height: 0.125em;
  }
  .btn-5:hover:before {
    height: 100%;
  }
  .btn-5:hover:after {
    width: 100%;
  }
  .btn-5 span:before,
  .btn-5 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgb(255, 0, 0);
    transition: all 0.3s ease;
  }
  .btn-5 span:before {
    width: 0.125em;
    height: 50%;
  }
  .btn-5 span:after {
    width: 20%;
    height: 0.125em;
  }
  .btn-5 span:hover:before {
    height: 100%;
  }
  .btn-5 span:hover:after {
    width: 100%;
  }

.prarambh-word {
    font-family: 'Samarkan Normal';
    font-size: 4.375em;
    position: absolute;
    top: 17em;
    left: 12.375em;
}

.round-img-hover {
    position: absolute;
    padding: 1.5625em;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5.625em;
    height: 5.625em;
    width: 5.625em;
    text-decoration: none;
    overflow: hidden;
    transition: all 0.5s;
}

.round-img-hover:hover {
    background-color: rgba(0, 0, 0, 0.7);
    width: 15.625em;
}

.round-img-box {
    height: 2.5em;
    width: 2.5em;
    transform: rotate(45deg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s;
    position: absolute;
    top: 1.5625em;
    left: 1.5625em;
}

.round-img-hover:hover .round-img-box {
    height: 3.125em;
    width: 3.125em;
    top: 1.25em;
    left: 1.25em;
}

.round-img-sub-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sub-box-1 {
    height: 0.5em;
    width: 0.5em;
    border-top: 0.125em solid white;
    border-left: 0.125em solid white;
}

.sub-box-2 {
    height: 0.5em;
    width: 0.5em;
    border-top: 0.125em solid white;
    border-right: 0.125em
    solid white;
}

.sub-box-3 {
    height: 0.5em;
    width: 0.5em;
    border-bottom: 0.125em solid white;
    border-left: 0.125em solid white;
}

.sub-box-4 {
    height: 0.5em;
    width: 0.5em;
    border-bottom: 0.125em solid white;
    border-right: 0.125em solid white;
}

.round-img-red-box {
    background-color: rgba(255, 0, 0, 0.5);
    position: absolute;
    top: 0.625em;
    left: 0.625em;
    height: 1.25em;
    width: 1.25em;
    transition: all 0.5s;
}

.round-img-hover:hover .round-img-red-box {
    top: 1.0625em;
    left: 1.0625em;
    height: 0.9375em;
    width: 0.9375em;
    background-color: rgba(255, 0, 0, 0.9);
}

.round-img-info {
    left: 68px;
    position: relative;
}

.round-img-info h6 {
    font-size: 0.625em;
    color: rgba(255, 255, 255, 0.3);
    transition: all 0.5s;
}

.round-img-hover:hover .round-img-info h6 {
    color: rgba(255, 255, 255, 0.9);
}

.round-img-info p {
    font-size: 0.9375em;
    color: rgba(255, 255, 255, 0.3);
    transition: all 0.5s;
}

.round-img-hover:hover .round-img-info p {
    color: rgba(255, 255, 255, 1);
}

.social-media-side-dock {
    font-size: 1.3rem;
    position: fixed;
    top: 39vh;
    right: 0.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1.9;
}

.social-media-side-dock a {
    width: fit-content;
}

.social-media-side-dock a i {
    color: red;
}

.back-botton {
    position: relative;
    display: flex;
    flex-direction: row;
    width: auto;
    left: 2rem;
    top: 1rem;
    text-decoration: none;
    height: 2rem;
}
.back-botton .back-symbol {
    border: 0.0625em solid red;
    border-radius: 50%;
    color: white;
    font-size: 1rem;
    height: 1.5rem;
    width: 1.5rem;
    text-align: center;
}

.back-botton .back-word {
    color: red;
    font-size: 0.6rem;
    padding: 0.375em;
}

.partner-box {
    border: 0.0625em solid red;
    border-radius: 2rem;
    padding: 1rem;
    box-shadow: 0.3125em 0.375em 1em -0.125em red;
    background-color: black;
    margin-right: 2rem;
}

.partner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

.partner img {
    width: 5rem;
}

.partner:hover .animation{
    transform: translateY(-1.4rem);
}

.partner-container {
    height: 1.4rem;
    overflow: hidden;
    width: -webkit-fill-available;
    margin-top: 1rem;
}

.partner .partner-container .animation {
    transition: all 0.5s;
}

.partner-card {
    display: none;
}

.partner-card-active {
    padding: 3rem 5rem;
    display: block;
    height: 27rem;
    margin-top: 4rem;
    border: 0.625em solid red;
    border-radius: 2rem;
    background-color: black;
}

.partner-card-img {
    box-shadow: 0 0 0rem 0.02rem white;
    width: 100%;
    height: 70%;
    overflow: hidden;
}

.partner-card-img img{
    width: 100%;
}

.partner-card-info{
    font-size: 0.75em;
    margin-top: 2rem;
    width: 100%;
    text-align: center;
}